@font-face {
    /* Give it a nickname you'll remember */
    font-family: 'Outfit';

    /* Use the relative path to the font file */
    src: url('../fonts/Outfit/static/Outfit-SemiBold.ttf');
}

@font-face {
    /* Give it a nickname you'll remember */
    font-family: 'IBM Plex Mono';

    /* Use the relative path to the font file */
    src: url('../fonts/IBM_Plex_Mono/IBMPlexMono-Light.ttf');
}

.root{
    -fx-editor-bg: #0f0d17;
}

.dialogue-card.focused {
    -fx-background-color: #2e2450;
    -fx-border-color: #c4a0f5;
    -fx-border-width: 4 4 4 4;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
}

.dialogue-card {
    -fx-background-color: #2e2450;
    -fx-border-color: #5c4a99;
    -fx-border-width: 2 1 2 1;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
}

.dialogue-card .topBar {
    -fx-background-color: #3b2f6b;
    -fx-background-radius: 7 7 0 0;
}

.dialogue-card .tag {
    -fx-background-color: #4a3a82;
    -fx-background-radius: 7;
    -fx-text-fill: #c4a0f5;
    -fx-font-family: 'IBM Plex Mono';
    -fx-font-size: 10px;
}

.dialogue-card .title {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-family: 'Outfit SemiBold';
    -fx-text-overrun: leading-ellipsis;
    -fx-font-size: 15px;
}

.entry{
    -fx-background-color: #2e2450;
}

.entry .label{
    -fx-text-fill: #c4a0f5;
    -fx-font-family: 'Outfit SemiBold';
    -fx-font-size: 15px;
}

.entry .textArea{
    -fx-background-color: #2e2450;
    -fx-text-fill: #c4a0f5;
    -fx-font-size: 17;
}

.editor{
    -fx-background-color: -fx-editor-bg;
}